@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #121212;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-catamaran;
}

.markdown-alert-title {
  margin-top: 0;
}

::selection {
  @apply bg-green-600 text-white;
}

h1,
h2,
h3 {
  @apply font-firaSans;
}

/* ---- Anchor Link Styles ---- */
.content-header {
  @apply relative scroll-m-4 leading-none;
}
.content-header .link-icon {
  @apply pr-1 opacity-0 fill-green-600 transition;
}
.content-header:hover .link-icon {
  opacity: 100%;
}

.link-icon {
  @apply transition fill-green-600;
}
.link-icon:hover {
  @apply fill-green-400 opacity-100;
}

.content-header-link {
  @apply flex items-center absolute top-0 left-0 bottom-0 -translate-x-full;
}

.content-header .content-header-link > svg {
  @apply h-full w-8;
}

/* ---- Prose Overrides ---- */
.prose h1:first-child {
  @apply mt-2;
}

/* ---- Progressive Enhancements ---- */
/* ---- Webkit ---- */

::-webkit-scrollbar {
  display: block;
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-green-800 rounded-full hover:bg-green-700 h-10;
}
