@import "tailwindcss";
@import "./animations.css" layer(utilities);

@plugin '@tailwindcss/typography';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* Prose styles override/reset */
@utility prose {
  pre {
    border-radius: 0;
    padding: 0;
  }
}

@theme {
  --font-firaSans: "FiraSans", sans-serif;
  --font-catamaran: "Catamaran", sans-serif;

  --color-foreground: #ffffff;
  --color-background: #121212;
  --color-primary: #bfe81c;
  --color-secondary: #b0c84e;
  --color-white: #fefefe;
  --color-grey: #afafaf;
  --color-grey-dark: #454545;

  --spacing-header: 55px;

  --animate-rotate-conic-border: conic-gradient 3s cubic-bezier(0.4, 0, 0.2, 1)
    infinite;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: var(--font-catamaran);
}

.markdown-alert-title {
  margin-top: 0;
}

::selection {
  @apply bg-green-600 text-white;
}

h1,
h2,
h3 {
  @apply font-firaSans;
}

/* ---- Anchor Link Styles ---- */
.content-header {
  @apply relative scroll-m-4 leading-none;
}
.content-header .link-icon {
  @apply pr-1 opacity-0 fill-green-600 transition;
}
.content-header:hover .link-icon {
  opacity: 100%;
}

.link-icon {
  @apply transition fill-green-600;
}
.link-icon:hover {
  @apply fill-green-400 opacity-100;
}

.content-header-link {
  @apply flex items-center absolute top-0 left-0 bottom-0 -translate-x-full;
}

.content-header .content-header-link > svg {
  @apply h-full w-6 md:w-8;
}

/* ---- Prose Overrides ---- */
.prose h1:first-child {
  @apply mt-2;
}

/* ---- Progressive Enhancements ---- */
/* ---- Webkit ---- */
::-webkit-scrollbar {
  display: block;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-green-800 rounded-full hover:bg-green-700 h-10;
}
