@import "tailwindcss";
@import "./theme.css";
@import "./animations.css" layer(utilities);

@plugin '@tailwindcss/typography';
@plugin "tailwindcss-animate";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: var(--font-catamaran);
}

.markdown-alert-title {
  margin-top: 0;
}

::selection {
  background-color: var(--color-green-600);
  color: var(--color-white);
}

h1,
h2,
h3 {
  font-family: var(--font-firaSans);
}

/* ---- Anchor Link Styles ---- */
.content-header {
  @apply relative scroll-m-4;
}
.content-header .link-icon {
  @apply fill-green-600 pr-1 opacity-0 transition;
  opacity: 0;
  fill: var(--color-green-600);
  padding-right: calc(var(--spacing) * 1);
  transition: fill opacity;
  align-self: start;
}
.content-header:hover .link-icon {
  opacity: 100%;
}

.link-icon {
  @apply fill-green-600 transition;
}
.link-icon:hover {
  @apply fill-green-400 opacity-100;
}

.content-header-link {
  @apply absolute top-0 bottom-0 left-0 flex h-fit -translate-x-full items-center py-[5.5px];
}

.content-header .content-header-link > svg {
  @apply w-6 md:w-8;
}

/* ---- Prose Overrides ---- */
.prose h1:first-child {
  @apply mt-2;
}

/* ---- Progressive Enhancements ---- */
/* ---- Webkit ---- */
::-webkit-scrollbar {
  display: block;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  @apply bg-neutral-900;
}

::-webkit-scrollbar-thumb {
  @apply h-10 rounded-full bg-green-800 hover:bg-green-700;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    color: var(--foreground);
    background: var(--background);
  }
}

/* ---- Markdown ---- */
/* Figure with caption styles */
article figure {
  @apply mb-8;
}

article figure picture,
article figure img {
  @apply mb-0 rounded-t-md rounded-b-none;
}

article figure figcaption {
  @apply mt-0 block px-2 py-2 text-center text-xs tracking-wider text-neutral-400 italic;
  @apply rounded-b-md bg-gradient-to-t from-neutral-900 to-neutral-800;
}

/* Portrait/Square Images */
article figure:has(picture.w-\[400px\]) figcaption {
  max-width: 400px;
  margin: 0 auto;
}
