/**
 * CSS Styles for code highlighting.
 * [rehype-pretty-code](https://rehype-pretty.pages.dev/) is the plugin used for code formatting.
 */

/* Highlight lines/words */
[data-highlighted-line] {
  @apply inline-block -mx-4 border-l-4 border-green-600 bg-green-500/5 pl-3 w-[calc(100%+1rem*2)];
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply inline-block mr-8 text-right w-3 text-green-600;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 1.25rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 1.75rem;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
  width: 2.25rem;
}

[data-rehype-pretty-code-title] {
  @apply rounded-t font-mono bg-gradient-to-b from-neutral-700 to-neutral-800 px-4 py-2 text-xs font-bold text-neutral-100 relative z-10;
}
